In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Indian_Startup_Data.csv')
df.head()

,S No.,Year,State,Industry,Count
0,1,2023,Andaman and Nicobar Islands,Automotive,1
1,2,2023,Andaman and Nicobar Islands,Construction,2
2,3,2023,Andhra Pradesh,Advertising,1
3,4,2023,Andhra Pradesh,Aeronautics Aerospace & Defence,1
4,5,2023,Andhra Pradesh,Agriculture,2

In [4]:
df["Year"].value_counts()

2022    1218
2021    1150
2020    1056
2019     914
2018     866
2023     729
2017     725
2016      24
Name: Year, dtype: int64

In [5]:
df["State"].value_counts()

Maharashtra                                 360
Karnataka                                   357
Delhi                                       349
Uttar Pradesh                               346
Gujarat                                     337
Telangana                                   332
Haryana                                     327
Tamil Nadu                                  327
West Bengal                                 309
Kerala                                      306
Rajasthan                                   304
Madhya Pradesh                              290
Odisha                                      268
Andhra Pradesh                              256
Bihar                                       255
Chhattisgarh                                231
Jharkhand                                   215
Punjab                                      209
Assam                                       203
Uttarakhand                                 202
Goa                                         154
Jammu and Kashmir                           152
Chandigarh                                  147
Himachal Pradesh                            119
Puducherry                                   66
Manipur                                      52
Tripura                                      50
Dadra and Nagar Haveli and Daman and Diu     30
Andaman and Nicobar Islands                  30
Meghalaya                                    29
Nagaland                                     28
Arunachal Pradesh                            14
Mizoram                                      11
Sikkim                                        9
Ladakh                                        5
NOT SPECIFIED                                 2
Lakshadweep                                   1
Name: State, dtype: int64

In [9]:
df.isnull().sum()

S No.       0
Year        0
State       0
Industry    0
Count       0
dtype: int64

In [10]:
df_2018 = df[df["Year"] == 2018]
df_2019 = df[df["Year"] == 2019]
df_2020 = df[df["Year"] == 2020]
df_2021 = df[df["Year"] == 2021]
df_2022 = df[df["Year"] == 2022]

For 2018

In [11]:
df_2018["State"].value_counts()

Maharashtra                                 48
Delhi                                       48
Uttar Pradesh                               47
Karnataka                                   47
Tamil Nadu                                  45
Haryana                                     44
Telangana                                   44
Gujarat                                     44
West Bengal                                 42
Rajasthan                                   39
Madhya Pradesh                              39
Kerala                                      38
Bihar                                       36
Andhra Pradesh                              35
Chhattisgarh                                34
Odisha                                      33
Jharkhand                                   29
Uttarakhand                                 27
Assam                                       24
Punjab                                      23
Goa                                         20
Jammu and Kashmir                           18
Chandigarh                                  15
Puducherry                                  13
Himachal Pradesh                            12
Manipur                                      7
Tripura                                      4
Arunachal Pradesh                            2
Nagaland                                     2
Mizoram                                      2
Meghalaya                                    2
Andaman and Nicobar Islands                  2
Dadra and Nagar Haveli and Daman and Diu     1
Name: State, dtype: int64

In [12]:
import geopandas as gpd
import matplotlib.pyplot as plt

In [13]:


world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
india = world[world.name == "India"]
india_states = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
india_states = india_states[india_states['iso_a3'] == 'IND']
india_states.to_file('india_states.geojson', driver='GeoJSON')

C:\Users\91937\AppData\Local\Temp\ipykernel_21444\4030882299.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
C:\Users\91937\AppData\Local\Temp\ipykernel_21444\4030882299.py:3: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  india_states = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

In [20]:
merged_data = india_states.merge(df, how='left', left_on='name', right_on='State')
merged_data.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,S No.,Year,State,Industry,Count
0,1.366418e+09,Asia,India,IND,2868929,"POLYGON ((97.32711 28.26158, 97.40256 27.88254...",NaN,NaN,NaN,NaN,NaN

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(10, 10))

# Set aspect ratio manually
ax.set_aspect('equal')

# Plot the map
merged_data.plot(column='Count', cmap='OrRd', linewidth=0.8, ax=ax, edgecolor='0.8', legend=True)

plt.show()